* {
  padding: 0;
  margin: 0;
}
ul{
  list-style-type:none;
  margin: 30px;
  /* width: 800px;
  height: 200px; */
  border: 1px solid #e1e1e1;
  font-size: 14px;
}
li{
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px solid #e1e1e1;
}
li:last-child {
  border-bottom: none;
}