h2 {
  background-color: rgb(224, 161, 161);
  border: 2px solid rgb(224, 161, 161);
  border-radius: 10px;
  display: inline;
}

/* .write p {
  margin:10px;
  background-color: bisque;
  border:1px solid bisque;
  float: left;
} */
.write::after {
 display: block;
 content: '';
 clear: both;
}

.write1{
  writing-mode: vertical-rl;
  float: left;
  
}
.write2{
  writing-mode: vertical-lr;
  float: left;
}
.write3 {
  writing-mode: horizontal-tb;
  float: left;
}

.ljsx {

  inline-size: 150px;
}
